<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="sourcing" href="/tabs/sourcing">
      <ion-icon aria-hidden="true" name="search-outline"></ion-icon>
      <ion-label>Tìm hàng</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="audit" href="/tabs/audit">
      <ion-icon aria-hidden="true" name="shield-checkmark-outline"></ion-icon>
      <ion-label>Kiểm Định</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/tabs/settings">
      <ion-icon aria-hidden="true" name="settings-outline"></ion-icon>
      <ion-label>Cài đặt</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
